.c-banner-img {
    width: 100%;
    height: calc(100vh - 80px)
    filter: brightness(0.7);
}

.c-inputContainer-title {
    margin-bottom: 12px;
    color: #FFF;
}

.c-inputContainer-input {
    margin-bottom: 20px;
    padding: 8px 16px 8px 16px;
    border-radius: 9999px;
    border-style: none;
}

.c-inputContainer-button {
    padding: 8px;
    border-radius: 9999px;
    border: 1px solid white;
    background-color: #d14124;
}

.c-inputContainer-button i {
    text-align: center;
}

.c-inputContainer-subtitle {
    font-weight: 300;
    color: #FFF;
}


@media screen and (min-width: 1024px) {

    .c-inputContainer-title {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .c-inputContainer-input {
        margin-bottom: 20px;
        padding: 12px 24px 12px 24px;
        border-radius: 9999px;
        border-style: none;
        margin-right: 5px;
        width: 300px;
    }

    .c-inputContainer-button {
        padding: 12px;
        border-radius: 9999px;
        border: 1px solid white;
        background-color: #d14124;
        cursor: pointer;
    }

    .c-inputContainer-subtitle {
        font-size: 32px;
    }
    
}
