.c-contact-title {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 4px;
}

.c-contact-subtitle {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.c-contact-subtitle--gray {
    color: rgba(255,255,255,.6);
    text-align: center;
    font-size: 14px;
    max-width: 740px;
}

.c-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-form-control{
    width: 100%;
    margin-bottom: 10px;
    max-width: 600px;
}

.c-label-form {
    color: #FFF;
}

.c-form-inputs {
    padding: 10px;
    width: 100%;
    background-color: #222;
    border:1px solid black;
    color: #FFF;
}

@media screen and (min-width: 1024px) { 
    .c-contact-subtitle--gray {
        font-size: 15px;
    }

    .c-form-inputs {
        padding: 15px;

    }

}
