.c-contact-title {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 4px;
}

.c-contact-subtitle {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.c-contact-subtitle--gray {
    color: rgba(255,255,255,.6);
    text-align: center;
    font-size: 14px;
    max-width: 740px;
}

.c-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-form-control{
    width: 100%;
    margin-bottom: 10px;
    max-width: 600px;
}

.c-label-form {
    color: #FFF;
    width: 100%;
    max-width: 600px;
    font-size: 14px;
    font-weight: 500;
}

.c-form-inputs {
    padding: 10px;
    width: 100%;
    background-color: #222;
    border:1px solid black;
    color: #FFF;
}

.c-submit-form-button {
    background-color: #d1421d;
    color: #FFF;
    border: none;
    padding: 8px 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.c-error-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    display: none;
}

._is-visible {
    display: block;
}

._sucess {
    background-color: springgreen;
}

@media screen and (min-width: 1024px) { 
    .c-contact-subtitle--gray {
        font-size: 15px;
    }

    .c-form-inputs {
        padding: 15px;

    }

}
