.c-footer-logo { 
    width: 80px;
    height: 80px;
}

.c-nav-gray-item {
    color : rgba(255,255,255,.6);

}

.c-nav-gray-item:hover {
    color: #FFF;
}

.c-nav-title {
    color: #FFF;
}

.c-footer-social-title {
    color: #FFF;
}

.fa-brands:hover {
    color: #d14124 !important;
}

.c-subfooter-copyright {
    color: #FFF
}

@media screen and  (min-width: 768px) {

    .c-footer-logo {
        width: 100px;
        height: 100px;
    }

    .c-footer-social-title {
        font-size: 24px;
    }

    .c-nav-title {
        font-size: 24px;
    }
    
    

}