.c-header-logo{
    width: 80px;
    height: 80px;
}

.c-header-logo-mobile {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}

.c-navigation-list {
    display: none;
}

.c-navigation-list .link:hover {
    color: #d14124;
}

.c-navigation-list-mobile {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.link-mobile {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.c-header-button {
    border: none;
}

._is-open {
    display: block;
}

._is-closed {
    display: none;
}

@media screen and (min-width: 1024px) {

    /* Header */
    .c-navigation-list {
        display: flex;
        list-style: none;
    }

    .c-navigation-list .link{
        margin: 0px 10px 0px 10px;
    }

    .c-navigation-list .link{
        font-weight: 600;
        color: #000;
    }

    .c-header-button{
        display: none
    }

}